@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette, 500, 300, 700);
$accent: mat.define-palette(mat.$orange-palette, 500, 300, 700);
$warn: mat.define-palette(mat.$red-palette, 500);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(
    $font-family: 'Montserrat, Roboto, Arial, sans-serif',
    $headline-1: mat.define-typography-level(96px, 96px, 300),
    $headline-2: mat.define-typography-level(60px, 60px, 300),
    $headline-3: mat.define-typography-level(48px, 48px, 400),
    $headline-4: mat.define-typography-level(34px, 40px, 400),
    $headline-5: mat.define-typography-level(24px, 32px, 400),
    $headline-6: mat.define-typography-level(20px, 32px, 500),
    $body-1: mat.define-typography-level(16px, 24px, 400),
    $body-2: mat.define-typography-level(14px, 20px, 400),
    $button: mat.define-typography-level(14px, 14px, 500),
  ),
));

@include mat.core();
@include mat.all-component-themes($custom-theme); 